
<div class="container">
    <h2>Register here</h2>
    <div class="sub-container">
        <form #f="ngForm" (ngSubmit)="signup(f)">
            <label for="firstName">First Name</label>
            <input ngModel name="firstName" #firstName="ngModel" type="text" required>
        
            <label for="lastname">Last Name</label>
            <input ngModel name="lastName" #lastName="ngModel" type="text" required>
            
            <label for="email">Email</label>
           <input ngModel name="email" #email="ngModel" type="email" required>
            
            <label for="password">Password</label>
            <input ngModel name="password" #password="ngModel" type="password" required>
            
            <label for="confirmPassword">Confirm Password</label>
            <input ngModel name="confirmPassword" #confirmPassword="ngModel" type="password" required>
        
            <button class="register-button" >Register Now</button>
            <div class="next-option">
                <p>Already have an Account?<a routerLink="/signin">Login</a></p>
            </div>
          </form>
    </div>
  </div>

<!-- <form class="form" #f="ngForm" (ngSubmit)="signup(f)" >
    <div class="form-control">
        <label>Your first name</label>
        <input ngModel name="firstName" #firstName="ngModel" type="text" required>
    </div>
    <div class="form-control">
        <label>Your last name</label>
        <input ngModel name="lastName" #secondName="ngModel" type="text" required>
    </div>
    <div class="form-control">
        <label>Your email</label>
        <input matInput ngModel name="email" #email="ngModel" type="email" required email>
    </div>

    <div class="form-control">
        <label>Your password</label>
        <input matInput ngModel name="password" #password="ngModel" type="password" required minlength="6">
    </div>
    <div class="form-control">
        <label>Confirm password</label>
        <input matInput ngModel name="ConfirmPassword" #ConfirmPassword="ngModel" type="password" required minlength="6">
    </div>

    <div class="form-control">
        <button class="register-button" [disabled]="f.invalid || ConfirmPassword.value !== password.value">Signup</button>
        <br>
        <button class="register-button"  routerLink="/signup">Login</button>
    </div>
</form> -->