:host {
    margin-top: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    height: 100vh;
 }
 .form {
     width: 20rem;
 }
 .form-control{
     display: block;
 }