<header class="header">

    <a href="#" class="logo"><i class="fas fa-shopping-basket">store</i></a>

    <nav class="navbar">
        <a href="home">home</a>
        <a href="">features</a>
        <a href="">products</a>
    </nav>

    <div class="icons">
        <div id="menu-btn"><span><img src="/assets/icons/menu_black_24dp.svg" alt=""></span></div>
        <div id="search-btn"><span><img src="/assets/icons/search_black_24dp.svg" alt=""></span></div>
        <div id="cart-btn"><span routerLink="/cart"><img src="/assets/icons/shopping_cart_black_24dp.svg" alt=""></span></div>
        <div id="login-btn"><span><img src="/assets/icons/account_circle_black_24dp.svg" alt=""></span></div>
    </div>

</header>
<router-outlet></router-outlet>
