
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/src/assets/images/one.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/src/assets/images/two.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/src/assets/images/three.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<!-- <p>home works!</p>
<div class="card" *ngFor="let product of products; index as i">
    <h2>{{product.name}}</h2>
    <strong>{{product.price}}</strong>
    <button (click)="addToView(product)" routerLink="/product-view">buy</button>
    <button routerLink="/cart">go to cart</button>
    
</div> -->

